charset-normalizer
flask
matplotlib
pandas
pip-chill
gunicorn
autopep8
certifi
click
flask-cors
Flask==2.0.3
gunicorn
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
numpy
pylint
toml
Werkzeug

